html {
    font-family: sans-serif;
    background:  #b8b6af;
    background-image: url("images/fondo.png");
    background-repeat: repeat;
  }

  @font-face {
    font-family: 'Symtext'; /*a name to be used later*/
    src: url('fonts/Symtext.ttf'); /*URL to font*/
}

h1{
    text-align: center;
    font-family: 'Symtext';
    color: white;
    padding: 2% 0 2% 0 ; 
}

.tittle{
    margin: 0 20% 0 20%; 
    background:  #333333;
}

.post {
    background: white;
    border-radius: 10%;
    margin: 0 15% 10% 15%;
}

.post h2{
    margin: 50px;
    padding-top: 5%;
    text-align: justify;
}

button{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    padding: 15px 32px;
    background-color: #333333;
    border: none;
    color: white;
    font-size: 16px;
}

footer{
    background:  #b8b6af;
    position:fixed;
    left:0px;
    bottom:0px;
    height:65px;
    width:100%;
    text-align: center;
    font-size: 12px;
}