<div class="tittle">
  <h1>{{title}}</h1>
</div>

<div class="post-container">
  <span *ngIf ="postDate !== ''">{{postDate}}</span>
  <p id="telefonito"></p>
</div>

<a class="btn btn-circle mr-3 d-flex justify-content-center align-items-center"  
  (click)="copyMessage()" href="#">
  <i class="far fa-copy"></i>
</a>

<div class="actions">
  <button type="button" class="btn btn-light btn-lg" (click)="randomPost()">Post Random</button>
  <button type="button" class="btn btn-dark btn-lg" (click)="newPost()">Crear un Nuevo Post</button>
</div>

<footer>
  <p><a href="https://twitter.com/hashtag/ElTelefonitoGameJam?src=hash" target="_blank" >#ElTelefonitoGameJam</a> es una idea de Ciro Durán <a href="https://twitter.com/chiguire" target="_blank">@Chiguire</a></p>
  <p><a href="https://github.com/baha-z/ElTelefonitoGameJam-Generator" target="_blank" >#ElTelefonitoGameJam-Generator</a> creado por Héctor Vargas <a href="https://twitter.com/baha_z" target="_blank">@Baha_z</a></p>
</footer>
