.post-container {
    background: #ebeae8;
    -webkit-box-shadow: 17px 11px 0px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 17px 11px 0px 0px rgba(0,0,0,0.41);
    box-shadow: 17px 11px 0px 0px rgba(0,0,0,0.41);
    padding: 40px;
    margin: 25px 5% 0;
    color: #333333;
    p {
        font-size: 22px;
        text-align: justify;
    }
    span {
        font-size: 16px;
    }
}

.btn-circle {
    position: absolute;
    background-color: #333333;
    height: 66px;
    width: 65px;
    border-radius: 50%;
    margin-left: 92%;
    margin-top: -40px;
    font-size: 2em; 
    color: #ebeae8;
}

.actions {
    margin: 3% 0 10% 0;
    text-align: center;
    button {
        margin-left: 20px;
        padding: 15px 32px;
      }      
}
